# 6. Traveling around the world

## List slicing

---

- Consider the following list:

In [1]:
cities = ["San Diego", "Prague", "Cape Town", "Tokyo", "Melbourne"]
print (cities)

['San Diego', 'Prague', 'Cape Town', 'Tokyo', 'Melbourne']

1. Slice "Prague":

In [2]:
# your code here

Prague

2. Slice the cities from "Prague" to "Tokyo":

In [3]:
# your code here

['Prague', 'Cape Town', 'Tokyo']

3. Slice "Prague" and "Tokyo":

In [4]:
# your code here

['Prague', 'Tokyo']

4. Slice the cities from "San Diego" to "Cape Town" (two ways):

In [5]:
# your code here

['San Diego', 'Prague', 'Cape Town']

In [6]:
# your code here

['San Diego', 'Prague', 'Cape Town']

5. Slice the cities from "Cape Town" to "Melbourne" (two ways):

In [7]:
# your code here

['Cape Town', 'Tokyo', 'Melbourne']

In [8]:
# your code here

['Cape Town', 'Tokyo', 'Melbourne']

6. Slice "San Diego", "Cape Town", and "Melbourne" (two ways):

In [9]:
# your code here

['San Diego', 'Cape Town', 'Melbourne']

In [10]:
# your code here

['San Diego', 'Cape Town', 'Melbourne']

7. Slice "Melbourne" (two ways):

In [11]:
# your code here

Melbourne

In [12]:
# your code here

Melbourne

8. Slice the cities from "Prague" to "Tokyo" using negative indices (alternative to example 2):

In [13]:
print (cities[-4:-1])

['Prague', 'Cape Town', 'Tokyo']

9. Slice the cities from "Tokyo" to "Prague" using positive indices (reverse order):

In [14]:
cities[3:0:-1]

['Tokyo', 'Cape Town', 'Prague']

10. Slice the cities from "Tokyo" to "Prague" using negative indices (reverse order) (alternative to example 9):

In [15]:
cities[-2:-5:-1]

['Tokyo', 'Cape Town', 'Prague']

11. Slice all the cities in reverse order:

In [16]:
print (cities[::-1])

['Melbourne', 'Tokyo', 'Cape Town', 'Prague', 'San Diego']